@charset "UTF-8";

.clear{ clear:both;}
#header{position:fixed; }
#adminHeader{width:100%; margin: 0 auto; height:100px; background-color:#FF8224; position:relative; opacity:0.7;}
img{float:left;}
h1{float:left; margin-left:50px; margin-top:29px; opacity:1; color:blakc;  }

#logoutbtn{float:right; margin-right:50px; margin-top:34px; width: 100px; border-radius: 5px; background-color: #FC3; color: #333; text-align: center;
 text-decoration: none; box-shadow: 3px 3px 3px #999999; }
 
.btn{width: 100px; border-radius: 5px; background-color: #eb5534; color: #333; text-align: center; color:white;
 text-decoration: none; box-shadow: 3px 3px 3px #999999; }
.bannerbtn{}
/* 맛집등록 작성화면에서 등록과 목록 버튼 */
#rest_save{width: 100px; border-radius: 5px; background-color: #eb5534; color: #333; text-align: center; color:white;
 text-decoration: none; box-shadow: 3px 3px 3px #999999; margin-left:700px; margin-top:50px;}
#go_list{width: 100px; border-radius: 5px; background-color: #eb5534; color: #333; text-align: center; color:white;
 text-decoration: none; box-shadow: 3px 3px 3px #999999; margin-left:20px; margin-top:50px;}

footer{margin-bottom:-350px; margin: 0 auto;}
footer hr { width: 950px; border: 1px so lid; }
footer #copy { 	margin: 0 auto;	width: 600px; font-size:80%; }




/* admin의sub_menu 스타일 */
nav#sub_menu { float: left; margin-right: 30px;}
nav#sub_menu ul { margin-left: 20px; margin-top:200px; border: none;}
nav#sub_menu ul li { list-style-type: none; margin-top: 30px; }
nav#sub_menu a { text-decoration: none; color: #FF8224; border-bottom: 1px dotted #FF8224;
 display: block; width: 300px; height: 40px; padding: 15px; }
nav#sub_menu a:hover { border-bottom: 1px solid orange; }
nav#sub_menu h1 { margin-top:100px; margin-left:150px; padding: 10px; }





table#restList {   /* border 사이의 간격 없앰 */  border-top: 2px solid orange;
 border-bottom: 1px solid #333; width: 800px; /* 전체 테이블 길이 설정 */ margin-left: 190px; margin-top:20px;
 margin-bottom: 20px; }
table#restList tr,td{border:none;}



table#list{  word-break:break-all;	height:auto; table-layout:fixed; width:1000px }
pre{overflow:scroll;}


#updateForm{border: 1px soild gray;  border-collapse: collapse; width:600px; height:300px;}


#noticebtn1{margin-left:200px; float:left; margin-top:20px; width: 100px; border-radius: 5px; background-color: #eb5534; color: #333; text-align: center; color:white;
 text-decoration: none; box-shadow: 3px 3px 3px #999999;}
#noticebtn2{margin-left:30px; float:left; margin-top:20px; width: 100px; border-radius: 5px; background-color: #eb5534; color: #333; text-align: center; color:white;
 text-decoration: none; box-shadow: 3px 3px 3px #999999; }
 
a { text-decoration: none; color: #333; }
a:hover { text-decoration: underline; color: #F90; cursor: pointer; }


#searchBox{margin-left:600px;margin-top:90px; width:600px; height:80px;}
#list{margin-top:100px; width:750px; }
#formList{margin-bottom:300px}


#detailBox{width:65%; margin-left :500px; margin-top:90px; margin-bottom:200px;}
#noticeTitle h1{width:65%;}

#paging{position:relative; width:500px; margin-left:450px;}
/*admin/memberDetail.jsp 화면에 적용할 css*/	
table#memberDetail{margin-top:120px; margin-left:100px; }
#outMember1{margin-left:180px; float:left; margin-top:20px; width: 100px; border-radius: 5px; background-color: #eb5534; color: #333; text-align: center; color:white;
 text-decoration: none; box-shadow: 3px 3px 3px #999999;}
#outMember2{margin-left:30px; float:left; margin-top:20px; width: 100px; border-radius: 5px; background-color: #eb5534; color: #333; text-align: center; color:white;
 text-decoration: none; box-shadow: 3px 3px 3px #999999; }
 
 
 
 
 table#bannerList{width: 800px; margin-top:150px;  border-top: 2px solid orange;
 border-bottom: 1px solid #333; width: 800px; /* 전체 테이블 길이 설정 */ margin-left: 190px; margin-top:20px;
 margin-bottom: 20px;}
 table#bannerList th, td{height:80px; border:none;}
 
 
 
 
 
