@charset "UTF-8";
#fbox{
	width:500px;
	height:400px;
	margin:0 auto;
	float:left;
}
#fbox2{
	width:500px;
	height:200px;
	margin:0 auto;
}
#space{
	width:400px;
	height:50px;
	margin-bottom:10px;
}
#findinput{
	width:400px;
	height:50px;
	border:1px solid;
}
#findbtn{
	width:400px;
	height:50px;
	border:1px solid;
	background:orange;
}
#fin{
	width:396px;
	height:48px;
	border: none;
}
#fbtn{
	width:400px;
	height:50px;
	border: none;
	background:orange;
	color:white;
	font-weight:bold;
}